/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card,
.hebergements-card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img,
.hebergements-card img,
.activite img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header and Navbar ******/
header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 19px;
  width: 61px;
  align-self: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  height: 100%;
  justify-content: space-around;
}

header li {
  margin-left: 24px;
  display: flex;
  align-items: center;
  width: 112px;
  justify-content: center;
}

header li:hover {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
}

/****** Rechercher, Filtres et promesse ******/
.recherche-form-section h1 {
  margin-top: 48px;
  margin-bottom: 4px;
}

.subtitle-h1 {
  margin-top: 8px;
  margin-bottom: 24px;
}

.recherche-form {
  display: flex;
}

.recherche-form i {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: var(--main-bg-color);
  padding: 16px;
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.recherche-textbox {
  box-sizing: border-box;
  border-top: 2px solid var(--main-bg-color);
  border-bottom: 2px solid var(--main-bg-color);
  border-left: none;
  border-right: none;
  text-align: center;
  font-weight: bold;
}

.recherche-textbox:focus {
  outline: none;
  background-color: var(--filter-bg-color);
}

.rechercher-submit {
  padding: 16px;
  border: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}

.rechercher-submit-phone {
  display: none;
}

.filters-wrap {
  display: flex;
  align-items: center;
  margin: 16px 0px 16px 0px;
  margin-top: 28px;
}

.title-filters {
  margin-right: 16px;
}

.filters {
  display: flex;
  height: 48px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border: 3px solid #e6e6e6;
  border-radius: 50px;
  align-items: center;
}

.filter:hover {
  background-color: var(--filter-bg-color);
}

.filters i {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.recherche-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 16px 0px;
}

.recherche-info i {
  margin-right: 8px;
  border-radius: 50px;
  color: var(--main-color);
  border: 2px solid var(--main-bg-color);
  padding: 5px 10px 5px 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-populaires-wrap {
  display: flex;
  justify-content: space-between;
}

.hebergements-populaires-wrap section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.hebergements-show-more {
  margin-bottom: 0px;
  margin-top: 33px;
}

/****** Hebergements ***********/
.hebergements-section {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/****** Card Hebergement ******/
.hebergements-card {
  height: 220px;
}

.hebergements-cards a {
  width: 31%;
}

.hebergements-card,
.hebergements-card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hebergements-card-content {
  padding-left: 15px;
  height: 45%;
  display: flex;
  justify-content: space-evenly;
}

.hebergements-cards .hebergements-card {
  margin-top: 33px;
}

.hebergements-cards img {
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
  margin-top: 4px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

/****** Populaires ***********/
.populaires-section {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ******/
.activites-wrap {
  padding: 30px;
  margin-top: 16px;
}

.activites-wrap h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.activites-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activite {
  margin-top: 33px;
  max-width: 23%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activite img {
  width: 100%;
  aspect-ratio: 1/1.3;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.activite h3 {
  margin: 0px;
  padding: 18px;
  border-top: none;
}

/****** Footer ******/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  margin-bottom: 0px;
  padding: 16px;
}

footer ul {
  width: 33%;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

footer li {
  padding: 8px;
  font-weight: 500;
}

footer strong {
  font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    padding: 0 30px;
  }
  .hebergements-populaires-wrap {
    flex-direction: column;
  }

  .hebergements-section {
    width: 100%;
  }

  .populaires-section {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    margin-top: 16px;
  }
  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title,
  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle,
  .hebergements-cards .card-subtitle {
    font-size: 13px;
  }

  .filters-wrap {
    display: block;
  }

  .activite img {
    aspect-ratio: 1/1.1;
  }

  .activite h3 {
    font-size: 17px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body,
  .main-container {
    padding: 0px;
    margin: 0px;
  }

  header {
    flex-direction: column;
  }

  header ul {
    justify-content: center;
    padding: 0px;
  }

  header li {
    width: 50%;
    margin: 0px;
    justify-content: center;
    padding: 16px 0px 16px 0px;
  }

  header li:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-top: none;
  }

  .recherche-form-section {
    padding: 0px 20px 0px 20px;
  }

  .recherche-form-section h1 {
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .recherche-form {
    display: flex;
    justify-content: left;
    width: 100%;
    outline: 2px solid var(--main-bg-color);
    outline-offset: -2px;
    border-radius: 16px;
  }

  .rechercher-submit {
    display: none;
  }

  .recherche-textbox {
    width: 90%;
    text-align: left;
    padding-left: 16px;
    border: none;
  }

  .rechercher-submit-phone {
    display: block;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 16px;
    width: 58px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .filters-wrap {
    margin-bottom: 0px;
  }

  .filters {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
  }

  .filter {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 0px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .recherche-info {
    padding: 0px;
    font-size: 13px;
  }

  .recherche-info i {
    padding: 5px 9px 5px 9px;
  }

  .hebergements-populaires-wrap section {
    border-radius: 0;
    padding: 30px 20px 20px 20px;
  }

  .hebergements-section {
    order: 1;
  }

  .hebergements-populaires-wrap .hebergements-section {
    background-color: white;
  }

  .hebergements-cards a {
    width: 100%;
  }

  .hebergements-cards .hebergements-card {
    margin-top: 16px;
  }

  .hebergements-card-content {
    height: 100%;
    justify-content: space-evenly;
  }

  .hebergements-show-more {
    margin-top: 16px;
  }

  .populaires-section {
    order: 0;
    margin-top: 20px;
  }
  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  .activites-wrap {
    margin-top: 24px;
  }

  .activites-list {
    flex-direction: column;
  }

  .activites-wrap h2 {
    margin-bottom: 16px;
    margin-top: 0px;
  }

  .activite {
    max-width: 100%;
    margin-top: 16px;
  }

  .activite img {
    aspect-ratio: 2/1;
  }

  footer {
    flex-direction: column;
    padding: 0px 30px 30px 30px;
    margin-top: 30px;
  }

  footer ul {
    width: 100%;
    padding-top: 32px;
  }
}
